* {
    margin: 0;
}

body {
    font-family: "New Nord", 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem 4dvh;
}

header h1 {
    text-transform: uppercase;
    font-weight: 900;
}

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.5rem;
}

header nav ul li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

section#filters {
    margin: 1rem 0;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

#selected-decade {
    font-size: 1.8rem;
    font-weight: 550;
}

#genre-output {
    width: 75dvh;
    margin-top: 1rem;
}

#map {
    width: 75dvw;
    height: 60dvh;
}

.marker {
    background-image: url('../img/noun-musical-note-1014122.svg');
    background-size: cover;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#concerts {
    text-align: center;
}