/* Resets */
* {
    margin: 0;
    padding: 0;
}

/* Fonts are set on the body. Font is imported from Google API */
body {
    font-family: "New Nord", 'Helvetica Neue', Helvetica, sans-serif;
}

/*
All content is wrapped in a page-wrapper
Within the page-wrapper, main components are rows
*/

#page-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

/*
Top component is the header
Header contains a main heading and a nav
Nav and main heading are flex-children to header
*/

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #231F20;
    color: #F5F5F5;
    padding: 1rem 4dvh;
}

header h1 {
    text-transform: uppercase;
    font-weight: 900;
}

/*
Nav set up is a elements within li elements within a ul
*/

header nav ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.5rem;
}

header nav ul li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/*
    Main element is a flex-child of page-wrapper
    Main has two components, the filters and the map
*/

main {
    flex: 1 1 100dvh;

    display: flex;
    flex-flow: row nowrap;
}


/*
    filters column is a flex parent
    flex direction is column
*/

section#filters {
    text-align: center;

    display: flex;
    flex-flow: column nowrap;

    border-right: 2px solid black;
    background-color: #EDE8E4;
}

.hidden {
   display: none;
}

.genre-list-visible {
   display: block;
}


.filter, .filter-option {
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

/*
    Make sure all the filter options indicate clickability
*/
.filter, .filter-option  {
    padding: 1rem;
    cursor: pointer;
}

.filter-option {
    background: #F8F6F6;
}

#top-genre-selector {
    border: none;
}

/*
    We don't want the decades uppercased (1970s not 1970S)
*/
#selected-decade {
    font-size: 1.8rem;
    font-weight: 550;
    text-transform: none;
}

/*
    To get the arrow indicator on the right
    and the filter name on the left, use
    flex-flow row with justify-content
    space-between
*/

#top-genre-selector, #genres, #years {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.selected {
    background: #D9CFC5;
}

#map {
   flex: 2 0 75%;
}

.marker {
    background-image: url('../img/noun-musical-note-1014122.svg');
    background-size: cover;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#concerts {
    text-align: center;
    overflow: scroll;
}

.concert-info {
    border-bottom: 1px solid black;
    padding: 0.5rem 0;
}

/*
    Footer has a logo area left and a contacts/links area right
*/

footer {
    background: #231F20;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 10rem;
}

footer ul {
    color: white;
    text-transform: uppercase;
    list-style-type: none;
}

/*
Adjacent sibling selector (all li elements that immediately
follow an li element with margin-top sets the gap between
list items without adding a top margin to the whole list
props to https://stackoverflow.com/questions/19254411/how-do-i-set-vertical-space-between-list-items
*/

footer ul li+li {
    margin-top: 1.5rem;
}