/*===========EXPLORE TAB =============*/

.custom-options {
    max-height: 50dvh;
    overflow-y: scroll;
}

#custom-selector-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1.2rem;
    padding: 2rem 1rem;
    font-size: 1.3rem;
}

.custom-selector, .same-as-selected, #range-selection-state {
    font-weight: 700;
}

.selected-and-options-flex-wrapper {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background: transparent;
    width: 50%;
}

.select-selected {
    border: 2px solid black;
}

.select-items {
    border-bottom: 2px solid black;
}

.select-items div {
    border-width: 0 2px 2px 2px;
    border-style: solid;
    border-color: black;
}

.select-items div:last-child {
    border-bottom: none;
}

.select-selected, .select-items div {
    position: relative;
    padding: 0.8rem 1rem 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
}

.select-selected::after {
    position: absolute;
    content: "";
    top: calc(50% - 0.3rem);
    right: 0.5rem;
    width: 0;
    height: 0;
    border-left-width: 0.6rem;
    border-right-width: 0.6rem;
    border-top-width: 0.8rem;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.select-selected.select-arrow-active::after {
    border-top: none;
    border-bottom-width: 0.8rem;
    border-color: transparent transparent black transparent;
    top: calc(50% - 0.4rem);
}

.double-border {
    border-bottom-width: 5px;
    border-bottom-style: double;
}

.filter-border-top {
    border-top: 2px solid black;
}

#range-selection-state {
    color: #067372;
}