#map {
    position: relative;
    flex: 1;
    height: 100dvh;

}

.marker {
    background-image: url('/img/marker-red-small.svg');
    background-size: cover;
    width: 30px;
    height: 36px;
    cursor: pointer;
    z-index: 0;
}

.y-marker {
    background-image: url('/img/marker-red-large.svg');
    background-size: cover;
    width: 60px;
    height: 70px;
    cursor: pointer;
    z-index: 1;
}

#animation-year-output {
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: 4;
    color: var(--genre-year-output);
    font-size: 5rem;
    font-family: "newnord", sans-serif;
}

/* Popups */

.mapboxgl-popup {
    border: 2px solid black;
    z-index: 2;
}

.mapboxgl-popup.hidden {
    display: none;
}

.mapboxgl-popup-content {
    padding-bottom: 0.5rem;
}

.mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-content h2 {
    margin-bottom: 1rem;
}

.mapboxgl-popup-content p:first-of-type{
    margin-bottom: -0.3rem;
}

/*
    To show that the popups will not display
    during explore mode animation.
    Using very high-specificity selection
    to override mapbox default.
*/
div.mapboxgl-canvas-container div.mapboxgl-marker.disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {

    #map {
        flex: 1;
        max-height: unset;
    }
}
