/*===== CONCERT AND VENUE LISTS =============*/

/*
    dynamically generated venue and concert data
    we restrict its height to the height of the
    filters section, its parent
    overflow-y: auto creates a scroll bar for any
    content that overflows the max height
*/
#concerts, #venues {
    max-height: 100%;
    text-align: left;
}

.overflow-scroll {
    overflow-y: scroll;
}

.concert-info {
    padding: 1rem;
}

.concert-info h3 {
    margin-bottom: 1rem;
    color: var(--concert-heading);
    font-weight: 800;
    font-size: 1.25rem;
}

.concert-info p {
    font-size: 0.9rem;
    font-weight: 400;
}

.concert-info p:last-of-type {
    padding-top: 1rem;
}